.App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slot-table {
    border: 1px solid black;
    display: inline-block;
}

.slot-table-row {
    display: flex;
}

.slot-item {
    font-size: 8px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    user-select: none;
}

.slot-item.active {
    background-color: red;
}